<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://socialengineeringexercise.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>socialengineeringexercise.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SocialEngineeringExercise</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SocialEngineeringExercise</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:justinchangdb.database.windows.net,1433;Initial Catalog=SocialEnginnringModel;Persist Security Info=False;User ID={your_username};Password={your_password};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SocialEngineeringExercise.Models.ApplicationDbContext, SocialEngineeringExercise" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SocialEnginnringModel" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:justinchangdb.database.windows.net,1433;Initial Catalog=SocialEnginnringModel;Persist Security Info=False;User ID=justin.chang.tw;Password=g_66c_99a;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SocialEngineeringExercise.Models.SocialEnginnringModel, SocialEngineeringExercise" MigrationConfiguration="SocialEngineeringExercise.Migrations.Configuration, SocialEngineeringExercise" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:justinchangdb.database.windows.net,1433;Initial Catalog=SocialEnginnringModel;Persist Security Info=False;User ID={your_username};Password={your_password};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SocialEnginnringModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:justinchangdb.database.windows.net,1433;Initial Catalog=SocialEnginnringModel;Persist Security Info=False;User ID=justin.chang.tw;Password=g_66c_99a;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>